
*{
  background-color: #2C2F33;
}
.App {
  color: white;
}
.Welcome{
  text-align: center;
  font-family: 'Share Tech', sans-serif; 
  margin-top: 20px;
}

.search-section{
  text-align: center;
}
.searchCoin{
  border: 1px solid white;
  border-radius: 3rem;
  padding: 10px;
  color: white;
  margin-top: 2%;
  margin-bottom: 1%;
}
.coinList{
  font-size: 20px;
  margin-top: 2%;
  align-items: center;
}
.coinImage{
  width: 45%;
  height: auto;
}
.linkInfo{
  border: 1px solid white;
  color: white;
  width: 70%;
  border-radius: 2rem;
}
.line{
  color: white;
  height: 2px;
}
.sideNav{
  background-color: black;
}
@media only screen and (max-width: 1185px){
  .coinImage{
    width: 60%;
    height: auto;
  }
}
@media only screen and (max-width: 991px){
  .coinImage{
    width: 90%;
    height: auto;
  }
}
@media only screen and (max-width: 767px){
  .coinImage{
    width: 60%;
    height: auto;
  }
  .linkInfo{
    border: 1px solid white;
    color: white;
    width: 90%;
    border-radius: 1rem;
    margin-bottom: 20px;
    font-size: 15px;
  }
  .cryptoName{
    font-size: 15px;
  }
  .cryptoSymbol{
    font-size: 15px;
  }
  .cryptoPrice{
    font-size: 15px;
  }
  .cryptoChange{
    font-size: 15px;
  }
}
@media only screen and (max-width: 476px){
  .cryptoPrice{
    font-size: 12px;
  }
}